body {
  margin: 0;
  padding: 0;
  background-color: #000004f0;
  color: #ffff;
}
.bg-nav {
  background-color: #000004f0;
}
.height-about {
  min-height: ;
}
.about-bg {
  background-color: #000004f0;
  min-height: 100vh;
}
.contact-bg {
  background-color: #000004f0;
}
.circle1 {
  height: auto;
  width: 600px;
}
